.DS_Store

# ignore all checkpoint files and folders 
checkpoints/

# ignore compiled Python files 
__pycache__/
*.pyc
*.pyo
*.pyd

# ignore egg-info directories 
*.egg-info/

# policy gifs 
policy_gifs/

# yaml file 
*.yaml

# training_progress
training_progress.png